{% extends "base.html" %}
{% block body %}
    <div class="login-page">
  <div class="form">

    <form class="login-form" method="post">

        <p class="login-text">login</p>
        <input type="text" placeholder="ID" name="userID"/>
        <input type="password" placeholder="password" name="password" />
        <select name="tipo" >
            <option value="paciente">Paciente</option>
            <option value="hospital">Hospital</option>
            <option value="medico">Medico</option>
        </select>
        <div><input type="submit" name="Login" value="Login" class="login-submit" style="background: #43a047"/></div>

      <p class="message">Not registered? <a href="{{ url_for("registro") }}">Create an account</a></p>
    </form>

  </div>
</div>

{% endblock %}