<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link href="{{url_for('static', filename = 'index.css')}}" rel="stylesheet">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Inicio</title>

</head>
<body>
	<header >
		 <h1 ><center>Historia clinica</center><Gestor></h1>
	</header><!-- /header -->
	<div id="cuerpo">
        <div id="indice">
            <iframe src="{{url_for('sesion')}}" title="W3Schools Free Online Web Tutorials" width="300px" height="500px"></iframe>



        </div>
       <div id="contenido"></div>
      
     
        </div>



        
    </div>
</body>
</html>