{% extends "usuarios.html" %}
{% block title %}
{{ datos["nombre"] }}
{% endblock %}
{% block tipo %}
{{ session["tipo"] }}
{% endblock %}
{% block linkobs %}{{ url_for("obsMedico") }}{% endblock %}
{% block funciones %}
<div class="item">
        <a href="{{ url_for("addObs") }}">
            <div class="title">
            <div class="icon"><img src="{{ url_for('static',filename='add.png') }}" alt=""></div>
            <span>agregar observacion</span></div>
        </a>
    </div>
{% endblock %}
{% block cambioP %}
{{ url_for("contrasenamed") }}
{% endblock %}